VITE_FIREBASE_API_KEY=AIzaSyCVY-LXCpKfHUJymJLQKhGx-vqEQYy9I7E
VITE_FIREBASE_AUTH_DOMAIN=math-exam-bd559.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=math-exam-bd559
VITE_FIREBASE_STORAGE_BUCKET=math-exam-bd559.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=394134574390
VITE_FIREBASE_APP_ID=1:394134574390:web:808c328ab00894c26a8f97
VITE_API_BASE_URL=http://localhost:8080
